.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tempo-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* PrimeReact components  */
.p-slider .p-slider-handle {
  cursor: pointer;
}

.p-scrollpanel .p-scrollpanel-bar {
  background: #d1d1d1;
}
.p-dropdown {
  min-width: 10rem;
  box-shadow: unset !important;
}

.p-dropdown .p-dropdown-trigger {
  background: #78676724;
  color: #6b7280;
  width: 2rem;
}

.p-dialog .p-dialog-header {
  background-color: #93bcff;
}

/* Up and down arrows in the inputNumber component */
.p-inputnumber-buttons-stacked .p-inputnumber-button-group .p-button.p-inputnumber-button {
  width: 2rem;
}




/* Disables border on click for inputs and buttons by default */
body input:enabled:focus{
  box-shadow: unset !important;
  /* border-color: unset !important; */
}
body button:enabled:focus{
  box-shadow: unset !important;
  /* border-color: unset !important; */
}
body .p-dropdown:enabled:focus{
  box-shadow: unset !important;
  /* border-color: unset !important; */
}