:root {
  --background: #20232A ;
  --background-light: #3f5a8b;
  --background-lighter: #3a5280;
  --primary-accent: #61DAFB ;
  --secondary-accent: #282C34 ;
  --primary-text: #FFFFFF ;

  --widget-light: #e8e8e8;
  --widget-dark: #212121;

  --scrollbar-thumb: #9cbaec;
  --scrollbar-track-piece-color: transparent;
}

body {
  margin: 0;
  font-family: 'Verdana', sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Verdana', sans-serif!important;
  font-weight: 700;
  color: #61DAFB;
}

code {
  font-family: 'Verdana', sans-serif!important;
}

/* Scrollbar design adjustments */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  background-clip: content-box;
  min-height: 25px;
  border: 1px solid transparent;
  border-radius: 7px;
}
::-webkit-scrollbar-track-piece {
  background-color: var(--scrollbar-track-piece-color);
}
